<section class="banner">


    <div class="banner">
        <img src="">
    </div>
    <div class="bannerTwo">

    </div>

    <div class='fade'>
        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">SHOP GIRLS</div>



            <div class="bannerTitles2">SHOP GUYS</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopGirl"></div>

            <div class="bannerFour shopGuy"></div>
        </div>
    </div>
    <div>
        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">TAPESTRIES</div>



            <div class="bannerTitles2 ">BLANKETS</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopTape"></div>

            <div class="bannerFour shopBlanket"></div>
        </div>


        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">TOWELS</div>



            <div class="bannerTitles2">SWIMWEAR</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopTowels"></div>


            <div class="bannerFour shopSwim"></div>
        </div>


        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">ONESIES</div>



            <div class="bannerTitles2">HEADWEAR</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopOnesies"></div>

            <div class="bannerFour shopHead"></div>
        </div>


        <div class=" bannerFive leggings"></div>
        <div class="bannerTitlesFlex">
            <div class="bannerSix shopCurtains"></div>

            <div class="bannerSeven shopLeggings"></div>
        </div>

        <div class="">
            <div class=" bannerEight shopNow"></div>
        </div>

        <div class="">
            <div class=" bannerNine monthlyBox"></div>
        </div>
        <!-- FEATURED PRODUCTS -->
        <div class="featuredFont productAnimation">
            <h1>FEATURED PRODUCTS</h1>
            <hr>
            <div class="repeatWrap">

                <featured-product ng-repeat="product in products" product="product"ui-sref="electroDetails({id:product.id})"></featured-product>
            </div>
            <h5 class="writeUs">WRITE US!</h5>
            <hr>
            <div class="googleMap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.1831703182215!2d-111.73052238460713!3d40.31609217937696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d84c30c9ca0b1%3A0x598cd94afad8300c!2s1084+Industrial+Park+Rd%2C+Orem%2C+UT+84057!5e0!3m2!1sen!2sus!4v1488819653315" width="1000" height="450"  frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

</section>
