<section class="banner">


    <div class="banner">
        <img src="">
    </div>
    <div class="bannerTwo">

    </div>

    <div class='fade'>
        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">SHOP GIRLS</div>



            <div class="bannerTitles2">SHOP GUYS</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopGirl"></div>

            <div class="bannerFour shopGuy"></div>
        </div>
    </div>
    <div>
        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">TAPESTRIES</div>



            <div class="bannerTitles2 ">BLANKETS</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopTape"></div>

            <div class="bannerFour shopBlanket"></div>
        </div>


        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">TOWELS</div>



            <div class="bannerTitles2">SWIMWEAR</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopTowels"></div>


            <div class="bannerFour shopSwim"></div>
        </div>


        <div class="bannerTitlesFlex">

            <div class="bannerTitles1">ONESIES</div>



            <div class="bannerTitles2">HEADWEAR</div>


        </div>
        <div class="bannerTitlesFlex">
            <div class="bannerThree shopOnesies"></div>

            <div class="bannerFour shopHead"></div>
        </div>


        <div class=" bannerFive leggings"></div>
        <div class="bannerTitlesFlex">
            <div class="bannerSix shopCurtains"></div>

            <div class="bannerSeven shopLeggings"></div>
        </div>

        <div class="">
            <div class=" bannerEight shopNow"></div>
        </div>

        <div class="">
            <div class=" bannerNine monthlyBox"></div>
        </div>
        <!-- FEATURED PRODUCTS -->
        <div class="featuredFont productAnimation">
            <h1>FEATURED PRODUCTS</h1>
            <hr>
            <div class="repeatWrap">

                <featured-product ng-repeat="product in products" product="product"ui-sref="electroDetails({id:product.id})"></featured-product>
            </div>
        </div>


</section>
