<section class="magicNavWrapper">

    <div class="logoWrap iNeedMySpace2">
        <a href = "/#/landingPage"><img src="http://i.imgur.com/IBTAaHE.png" height="45vh" width="50%" ></a>
    </div>
    <div class="linksWrap">
        <div class="links"> MEN </div>
        <div class="links"> WOMEN </div>
        <div class="links"> HOME </div>
        <div class="links"> NEW </div>
        <div class="links"> MONTHLY BOX </div>
        <div class="links"> KIDS </div>
        <div class="links"> ACCESSORIES </div>
        <div class="links"> COLLECTION </div>
        <div class="links"> DEALS </div>
        <div class="links searchBar"> <span class="fa fa-search fa-inverse" aria-hidden="true"></span> </div>

    </div>

    <section class="searchBarWrap" >
        <div class=""><input type="text" name="search" class="searchOptions" placeholder="Search" ></div>


    </section>

</section>
